:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    height: 45px;
  }
}

@media (min-width: 600px) {
  form {
    width: 480px;
    flex-direction: row;
  }
}

.card-wrapper {
  width: 100%;
  margin: auto;
  .card {
    margin: 10px 0;
    padding: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    .mat-card-title,
    .mat-card-subtitle {
      margin-bottom: 8px;
    }
  }
  p {
    text-align: center;
    font-size: 35px;
  }
}

.paginator {
  margin-top: auto;
}
