<h1>Список проблем</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Пользователь" formControlName="owner">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Репозиторий" formControlName="repo" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let repo of filteredRepos | async" [value]="repo">
        {{ repo }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="repoControl.hasError('notInList')">Репозитория нет в списке</mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Поиск</button>
</form>
<mat-spinner [diameter]="40" color="primary" *ngIf="loading"></mat-spinner>
<div class="card-wrapper" *ngIf="!loading">
  <p *ngIf="issues && issues.length === 0">Нет данных</p>
  <mat-card class="card" *ngFor="let issue of issues">
    <a routerLink="/issue-detail/{{ owner }}/{{ repo }}/{{ issue.number }}">
      <mat-card-title>{{ issue.title }}</mat-card-title>
      <mat-card-subtitle>#{{ issue.number }} Дата: {{ issue.created_at | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    </a>
  </mat-card>
</div>
<mat-paginator
  class="paginator"
  [length]="resultsLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent($event)">
</mat-paginator>

