:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.component-wrapper {
  width: 80%;
  padding: 2rem 10% 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #3f51b5;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  a:hover {
    text-decoration: underline;
  }
}
