.page-wrapper {
  min-height: 100vh;
  width: 80%;
  padding: 0 10%;
  background-color: rgba(0,0,0,.06);
  display: flex;
  flex-direction: column;
  .component-wrapper {
    padding-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
